* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background-color: #fff;
	color: #4C372F;
	font-family: 'Signika', sans-serif;
}
em {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
}
img {
	width: auto;
	max-width: 100%;
}
h1, h2, h3, h4 {
	font-family: 'IM Fell French Canon', serif;
	margin-top: 0;
}
a {
	color: #EF4036;
	border-bottom: 1px dotted #ccc;
}
a:hover {
	color: white;
	text-decoration: none;
}
.section-white a {
	color: #EF4036;
}
.section-white a:hover {
	color: black;
}
.section-red a {
	color: white;
}
.section-red a:hover {
	color: #CDE2F5;
}
.section-blue a {}
.section-blue a:hover {
	color: black;
}
nav a {
	color: white;
}
nav a:hover {
	color: #EF4036;
	background-color: transparent;
}

.section-marker {
	background-color: #725046;
	text-shadow:none;
	color: white;
	padding: 10px;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: -30px;
	z-index: 99;
	width: 100px;
	margin-left: -50px;
	left: 50%;
}
.text-center {
	text-align: center;
}
.lead {
	text-transform: uppercase;
	display: inline-block;
}
blockquote {
	border-left: 3px solid #B62325;
	font-size: 20px;
	line-height: 36px;
	font-weight: 100;
}
blockquote cite {
	font-size: 80%;
	opacity: 0.8;
	font-style: italic;
}
.section, .section-thin {
	position: relative;
}
.section {
	max-width: 100%;
	padding: 100px 0;
}
.section.intro {
	padding: 40px 0;
}
.section-thin {
	padding: 20px 0;
}
.section-red {
	background-color: #EF4036;
	text-shadow: 0 2px 1px #B62325;
	color: #fff;
}
.section-blue {
	background-color: #CDE2F5;
	text-shadow: 0 2px 1px #fff;
	color: #4C372F;
}
.section-brown {
	background-color: #4C372F;
	text-shadow: 0 2px 1px #1E130F;
	color: #4C372F;
}

@media (max-width: 400px) {
	h1 {
		font-size: 60px;
		line-height: 70px;
	}
	h2 {
		font-size: 40px;
		line-height: 50px;
	}
}

/* Flowtype setup */

body {
 padding: 0;
 margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
 line-height: 1.45;
}
h1 { font-size: 3em; }
h2 { font-size: 1.8em; }
h3 {
	font-size: 1em;
	text-transform: uppercase;
}
h4 { font-size: 0.8em; }
h5 { font-size: 0.6em; }
h6 { font-size: 0.5em; }
p {
    font-size: 0.5em;
    margin-top: 1em;
}
.container small {
	font-size: 0.5em;
}
p, ul {
    margin-bottom: 1.4em;
}
ul {
    font-size: 0.5em;
    list-style-type: square;
    padding-left: 1em;
}
.linklist {
    font-size: 0.6em;
    margin-bottom: 1.4em;
}
.linklist li {
    margin-bottom: 1.2em;
}

/* Sections */

#footer {
	padding: 1.4em;
}

/* Bootstrap overrides */
